<template>
  <div class="heading">
    <h1>{{ name }}</h1>
    <div class="border" />
  </div>
</template>

<script>
module.exports = {
	name: "Heading",
	props: {
		name: String
	}
};
</script>

<style scoped>
.heading h1 {
	font-family: "Raleway", sans-serif;
	font-size: 40px;
	color: #444649;
	font-weight: 200;
	text-align: center;
}

.heading .border {
	width: 70px;
	padding: 3px 0 0;
	margin: 0.4rem auto 0;
	background-color: #444649;
}
</style>
