<template>
  <div id="header">
    <header>
      <ul>
        <li id="nav-about">
          <a
            href="#about"
            :class="{ navactive : currentActive === 1}"
          >
            <p class="desktop">About</p>
            <p class="mobile">me</p>
          </a>
        </li>
        <li id="nav-skills">
          <a
            href="#skills"
            :class="{ navactive : currentActive === 2}"
          >
            <p class="desktop">Skills</p>
            <p class="mobile">ski</p>
          </a>
        </li>
        <li id="nav-projects">
          <a
            href="#portfolio"
            :class="{ navactive : currentActive === 3}"
          >
            <p class="desktop">Projects</p>
            <p class="mobile">pro</p>
          </a>
        </li>
        <li id="nav-contact">
          <a
            href="#contact"
            :class="{ navactive : currentActive === 4}"
          >
            <p class="desktop">Contact</p>
            <p class="mobile">con</p>
          </a>
        </li>
      </ul>
    </header>
    <div id="filler" />
  </div>
</template>

<script>
let navbar, aboutOffsetTop, skillsOffsetTop, projectsOffsetTop;

export default {
	name: "Navbar",
	data() {
		return {
			currentActive: 0
		}
	},
	created() {
		window.addEventListener("scroll", this.scrollEvent);
	},
	mounted() {
		navbar = document.getElementsByTagName("header")[0];
		aboutOffsetTop = document.getElementById("about").offsetTop - 450;
		skillsOffsetTop = document.getElementById("skills").offsetTop - 400;
		projectsOffsetTop = document.getElementById("portfolio").offsetTop - 400;
	},
	methods: {
		scrollEvent(event) {
			let stickyHeight = this.$el.offsetTop;
			// console.log(`window: ${window.pageYOffset}, about:${aboutOffsetTop}`);

			if (window.pageYOffset >= stickyHeight) {
				navbar.classList.add("sticky");
			} else {
				navbar.classList.remove("sticky");
			}


			if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
				this.currentActive = 4;
    	} else if (window.pageYOffset >= projectsOffsetTop) {
				this.currentActive = 3;
			} else if (window.pageYOffset >= skillsOffsetTop) {
				this.currentActive = 2;
			} else if (window.pageYOffset >= aboutOffsetTop) {
				this.currentActive = 1;
			} else {
				this.currentActive = 0;
			}
		}
	}
};
</script>

<style scoped>
header {
	background: hsl(216, 75%, 20%);
	height: 50px;
	border-bottom: solid 4px hsl(32, 100%, 57%);
	z-index: 100;
	/* margin: 0; */
	/* clip-path: polygon(100% 0, 100% 90%, 85% 100%, 0 100%, 0 0); */
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + #filler {
	padding-top: 54px;
}

header .mobile {
	display: none;
}

header .content {
	
	display: flex;
	align-items: center;
}

.content .image-container {
	height: 100%;
	flex-grow: 1;
	display: flex;
	justify-content: center; 
	align-items: center;
}

.content img {
	height: 80%;
}

header ul {
	height: 100%;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

header li {
	display: inline-block;
	padding: 0 .8rem;
	/* height: 100%; */
	/* margin-bottom: 0; */
}

header a {
	font-family: 'Open sans', sans-serif;
	color: hsl(200, 50%, 50%);
	font-size: 1.1rem;
	line-height: 1.3;
	text-decoration: none;
	transition: color 200ms ease-in;
}

header a:hover {
	color: hsl(32, 100%, 57%);
}

.navactive {
	color: hsl(32, 100%, 57%);
}


@media only screen and (max-width: 500px) {
	header .desktop {
		display: none;
	}

	header .mobile {
		display: block
	}
}

@media only screen and (max-width: 380px) {
	header li {
		padding: 0 .4rem;
	}

	header p {
		font-size: 15px;
	}
}

</style>
