<template>
	<div class="todo" v-bind:class="{ 'is-complete': todo.completed }">
		<h4>
			<input type="checkbox" v-on:change="markComplete" />
			{{ todo.title }}
			<button @click="$emit('del-todo', todo.id)" class="del">X</button>
		</h4>
	</div>
</template>

<script>
export default {
	name: "Todo",
	props: ["todo"],
	methods: {
		markComplete() {
			this.todo.completed = !this.todo.completed;
		}
	}
};
</script>

<style scoped>
.todo {
	background: #f4f4f4;
	padding: 10px;
	border-bottom: 1px #ccc dotted;
}

.is-complete {
	text-decoration: line-through;
}

.del {
	background: #ff0000;
	color: #fff;
	border: none;
	padding: 5px 9px;
	border-radius: 50%;
	cursor: pointer;
	float: right;
}
</style>
