<template>
	<div id="app">
		<img alt="Vue logo" src="../assets/logo.png" />

		<Todos v-bind:todos="todos" v-on:del-todo="deleteTodo" />
		<AddTodo v-on:add-todo="addTodo" />>
	</div>
</template>

<script>
import axios from "axios";

import Todos from "../components/Todos.vue";
import AddTodo from "../components/AddTodo";

export default {
	name: "Home",
	components: {
		AddTodo,
		Todos
	},
	data() {
		return {
			todos: []
		};
	},
	beforeMount() {
		axios
			.get("https://jsonplaceholder.typicode.com/todos?_limit=4")
			.then(res => {
				this.todos = res.data;
				// eslint-disable-next-line no-console
				console.log(res);
			})
			// eslint-disable-next-line no-console
			.catch(err => console.warn(err));
	},
	methods: {
		deleteTodo(todoId) {
			axios
				.delete(`https://jsonplaceholder.typicode.com/todos/${todoId}`)
				.then(() => (this.todos = this.todos.filter(item => item.id !== todoId)))
				// eslint-disable-next-line no-console
				.catch(err => console.warn(err));
		},
		addTodo(newTodo) {
			const { title, completed } = newTodo;
			axios
				.post("https://jsonplaceholder.typicode.com/todos", { title, completed })
				.then(res => this.todos.push(res.data))
				// eslint-disable-next-line no-console
				.catch(err => console.warn(err));
		}
	}
};
</script>

<style>
* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
}

.btn {
	display: inline-block;
	border: none;
	background: #555;
	color: #fff;
	padding: 7px 20px;
	cursor: pointer;
}

.btn:hover {
	background: #666;
}

#app {
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	/* margin-top: 60px; */
}
</style>
