<template>
  <div id="about">
    <Heading name="ABOUT ME" />
    <div class="topics">
      <div class="topic">
        <div class="image-container">
          <img :src="`${publicPath}cover/my-self-portrait.jpg`">
        </div>
      </div>
      <div class="topic">
        <h3>Who am I?</h3>
        <p>Im a recent graduate at the univeristy of aplied sciende of amsterdam, someone who loves to build awsome software and is pasionate about it. I like to give it my all in a project, which allowed me to graduate with cum laude.</p>
        <p>If you want something build that is robust and fast, then I'm the man for the job. <a href="#contact">here</a> is how you can get in contact with me</p>
        <form action="https://drive.google.com/file/d/1hsNtGC6-i-r1KYJqR228jRUFmiY9R8PO/view">
          <input
            type="submit"
            value="Resume"
          >
        </form>
      </div>
      <div class="topic">
        <h3>Some of my other interests</h3>
        <p>When I am not coding my next project, I enjoy spending my time doing any of the following:</p>
        <ul>
          <li>I like <strong>learning</strong> new thing, like the guitar for example</li>
          <li>I love engaging with <strong>games</strong>, not only video but also board games</li>
          <li>I enjoy great pieces and amazing of <strong>literature</strong></li>
          <li>I am  <strong>meeting more people</strong> and creating new opportunities.</li>
        </ul>
      </div>
    </div>
    <SpotifyToplist :tracks-limit="8" />
  </div>
</template>

<script>
import Heading from "./layout/Heading";
import SpotifyToplist from "./SpotifyToplist";

export default {
	name: "About",
	components: {
		Heading,
		SpotifyToplist
	},
	data() {
		return {
			publicPath: process.env.BASE_URL
		}
	}
};
</script>

<style>
#about {
	max-width: 1300px;
	margin: 0 auto;
	padding: 3rem 0 5rem;
	color: hsl(216, 4%, 28%);
}

#about .topics {
	padding: 1rem 0 0;
	border-bottom: 1px solid #f0f0f0;
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;

	font-family: "Roboto", sans-serif;
	line-height: 1.2;
}

#about .topic {
	width: calc(100% / 3);
	padding: 1rem;
	display: inline-block;
}

.topic h3,
strong {
	color: #000000;
	font-weight: 500;
}

.topic h3 {
	padding-top: .5rem;
}

.topic .image-container {
	width: 18rem;
	margin: 0 auto;
}

.topic img {
	width: 100%;
}

.topic p {
	padding-top: 0.5rem;
}

.topic input {
	margin-top: .6rem;
	padding: .4rem .8rem;
	color: white;
	background-color: hsl(216, 80%, 34%);
	transition: all 300ms ease;
}

.topic input:hover {
	background-color: hsl(216, 72%, 41%);
}

.topic input:active {
	padding: calc(.4rem - 2px) calc(.8rem - 2px);
	border: 2px solid hsl(216, 78%, 37%);
	color: #2e2e2e;
	font-weight: 600;
	background-color: rgb(255, 255, 255);
}

.topic a {
	text-decoration: none;
	color: #432ff7;
}

.topic ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 0.7rem;
	/* margin-block-end: 1rem; */
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

#about .spotify-toplist {
	margin-top: 1rem;
}

@media only screen and (max-width: 880px) {
	#about .topics {
		justify-content: center
	}

	#about .topic {
		width: 45%;
	}

	/* #about .topic:nth-child(2) {
		margin-left: 2rem;
	} */

	#about .topic:last-child {
		display: none;
	}
}

@media only screen and (max-width: 650px) {
	#about .topics {
		align-items: center;
		flex-flow: column nowrap;
	}

	#about .topic {
		width: 80%;
		text-align: center;
		padding: .5rem;
	}

	#about .spotify-toplist {
	margin-top: 1.5rem;
	}
}

@media only screen and (max-width: 380px) {
	.topic .image-container {
		width: 13rem;
	}
}
</style>
