<template>
  <div class="code">
    <h2>MY CODING PRINCIPLES</h2>
    <div class="standards">
      <div class="standard">
        <div class="image-container">
          <img :src="`${publicPath}skills/reliable-orange.png`">
        </div>
        <h3>Reliable</h3>
        <p>Robost programs that won't break under any circumstances</p>
      </div>
      <div class="standard">
        <div class="image-container">
          <img :src="`${publicPath}skills/fast-orange.png`">
        </div>
        <h3>Fast</h3>
        <p>Optimized runtime for the best performane</p>
      </div>
      <div class="standard">
        <div class="image-container">
          <img :src="`${publicPath}skills/clean-orange.png`">
        </div>
        <h3>Clean</h3>
        <p>Well managed code that is easy to pickup and change for everybody</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
	name: "CodePrincipals",
	data() {
		return {
			publicPath: process.env.BASE_URL
		}
	}
}
</script>

<style>
.code {
	text-align: center;
	font-family: "Roboto", sans-serif;
}

.code h2 {
  padding-bottom: .5rem;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.code p {
	padding-bottom: 1rem;
}

.code .standards {
	display: flex;
	justify-content: space-around;
}

.standards .standard {
	width: 25%;
	padding: 1rem;
}

.standard .image-container {
  width: 180px;
  margin: 0 auto;
}

.standard img {
	width: 100%;
}

.standard h3 {
	padding-top: 0.5rem;
	font-size: 23px;
	font-weight: 500;
}

.standard p {
	padding: 0;
}

@media only screen and (max-width: 900px) {
  .standards .standard {
    width: calc(100% / 3);
  }

  .standard .image-container {
    width: 130px;
  }
}


@media only screen and (max-width: 600px) {
  .standards {
    flex-flow: column nowrap;
    align-items: center;
  }

  .standards .standard {
    width: 50%;
  }

  .standard .image-container {
    width: 160px;
  }
}

@media only screen and (max-width: 380px) {
  .code h2 {
    font-size: 22px;
    padding: 0 .5rem;
  }

  .standards .standard {
    width: 80%;
  }
}
</style>