<template>
  <div id="contact">
    <div class="border-wrapper">
      <div class="border-shape" />
    </div>
    <div
      class="content"
      title="contact"
    >
      <div class="email-box">
        <img
          class="email-icon"
          :src="`${publicPath}icon/email-white.png`"
        >
        <h3>k.leszczynski1@gmail.com</h3>
      </div>
      <div class="links">
        <div
          class="link"
          title="linked-in"
        >
          <a href="https://www.linkedin.com/in/konrad-leszczynski-se/"><img :src="`${publicPath}icon/linkedin-white.png`"></a>
        </div>
        <div
          class="link"
          title="github"
        >
          <a href="https://github.com/KonradLL"><img :src="`${publicPath}icon/github-white.png`"></a>
        </div>
        <div
          class="link"
          title="gitlab"
        >
          <a href="https://gitlab.com/KonradLL"><img :src="`${publicPath}icon/gitlab-white.png`"></a>
        </div>
        <div
          class="link"
          title="twitter"
        >
          <a href="https://twitter.com/tsuda142"><img :src="`${publicPath}icon/twitter-white.png`"></a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
	name: "Contact",
	data() {
		return {
			publicPath: process.env.BASE_URL
		}
	},
	mounted() {
		let border = document.querySelector("#contact .border-shape");
		if (document.body.scrollHeight < window.screen.height) {
			border.classList.add("desktop");
		} else {
			border.classList.add("mobile");
		}
	}
}
</script>

<style scoped>
#contact {
	/* background-color: hsl(216, 75%, 20%); */
}
#contact .border-wrapper {
  width: 100%;
  overflow: hidden;
}

#contact .border-shape {
  width: 0; height: 0;
	background-color: hsl(216, 75%, 20%);
}

.mobile {
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 50px solid white;
}

.desktop {
  border-left: calc(50vw - 8px) solid transparent;
  border-right: calc(50vw - 8px) solid transparent;
  border-top: 50px solid white;
}

#contact .content {
	padding: 2rem 5rem 1.5rem 3.5rem;
	background-color: hsl(216, 75%, 20%);
	display: flex;
}

.content .email-box {
	display: inline-block;
	flex-grow: 1;
}

.email-box img {
	width: auto;
	height: 1.3rem;
	transform: translateY(15%);
	margin-right: .4rem;
}

.email-box h3 {
	display: inline-block;
	font-family: 'Open sans', sans-serif;
	color: #f8f8f8;
	font-weight: 200;
	line-height: 1.1;
}

.links .link {
	display: inline-block;
	padding: 0 .2rem;
}

.link img {
	width: 1.7rem;
	opacity: .8;
	transition: opacity 200ms ease;
}

.link img:hover {
	opacity: 1;
}

@media only screen and (max-width: 550px) {
  #contact .content {
    flex-flow: column nowrap;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .content .links {
    padding-top: 1rem;
  }
}
</style>