<template>
  <div
    id="cover"
    :style="{ backgroundImage: `url(${publicPath}cover/background2.jpg)`}"
  >
    <div class="sheet">
      <div class="text-box">
        <div class="desktop">
          <div>Hey, I'm <span class="highlight-name">Konrad Leszczynski</span></div>
          <div>and I like to code <span class="highlight-font">awsome</span> stuff</div>
        </div>
        <div class="mobile">
          <div>
            Hey, I'm
            <br>
            <span class="highlight-name">Konrad Leszczynski</span>
          </div>
          <div>
            and I like to
            <br>
            code <span class="highlight-font">awsome</span> stuff
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
	name: "Cover",
	data() {
		return {
			publicPath: process.env.BASE_URL
		}
	}
}
</script>

<style scoped>
#cover {
	height: 100vh;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#cover .mobile {
	display: none;
}

#cover .sheet {
	width: 100%;
	height: 100%;
  background-color: #0d2c5a;
  opacity: 0.9;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.sheet .text-box {
	width: 40rem;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: right;
	justify-content: center;
	flex-flow: column nowrap;

	font-family: 'raleway-bold', sans-serif;
	color: #fffefe;
	font-size: 40px;
	opacity: 1;
	text-align: center;
}

.text-box .highlight-name {
	color: rgb(255, 0, 85);
}

.text-box .highlight-font {
	font-size: 45px;
	font-family: 'Lobster', cursive;
}

@media only screen and (max-width: 650px) {
	#cover .desktop {
		display: none;
	}

	#cover .mobile {
		display: inline;
	}

	#cover .text-box {
		width: 330px;
		font-size: 35px;
	}

	.text-box .highlight-font {
		font-size: 40px;
	}
}

@media only screen and (max-width: 330px) {
	#cover .text-box {
		width: 200px;
		font-size: 20px;
	}

	.text-box .highlight-font {
		font-size: 25px;
	}
}
</style>