<template>
  <div id="portfolio">
    <Heading name="PROJECTS" />
    <div class="projects">
      <Project
        v-for="project in projects"
        :key="project.title"
        :project="project"
      />
    </div>
  </div>
</template>

<script>
import Heading from "./layout/Heading";
import Project from "./Project";

export default {
	name: "Portfolio",
	components: {
		Heading,
		Project
	},
	data() {
		return {
			projects: [
				{
					image: "projects/illi-tv.jpg",
					title: "illi-tv",
					tags: ["RaspberryPi", "Nodejs"],
					description:
						"illi-tv is a nodejs application on a raspberry pi which is connected to the tv. The content which is displayed is selected with a smarthpne/tablet app. illi-tv can also be connected with the cloud to syncronise new content.",
					demo: "https://illi-tv.nl/magisch-interactief-schilderij/",
				},
				{
					image: "projects/Tribank.png",
					title: "tribank",
					tags: ["java", "docker", "kubernetes", "gitlabCI"],
					description:
						"Tribank is a simple banking application made with a rich back-end. It has a microservice architecture that is automatically pushed to a kubernetes cluster.",
					source: "https://gitlab.com/KonradLL/tribank",
				},
				{
					image: "projects/niktwo2.png",
					title: "Anomaly detection",
					tags: ["python", "tensorflow"],
					description:
						"Niktwo provides anomaly detection in logfiles and visualization of the anomalies. It uses an unsupervised machine learning model to detect the anomalies written in python with tensorflow."
				},
				{
					image: "projects/elastic.jpg",
					title: "Loggin & visualizing",
					tags: ["RaspberryPi", "Nodejs"],
					description:
						"Created logging for the illi-tv applications which is send to a centralized elastic cluster. All the data is then visualized in kibana."
				},
			]
		};
	},
	methods: {
		popupProject: function() {}
	}
};
</script>

<style>
#portfolio {
	max-width: 1200px;
	margin: 0 auto;
	padding: 3rem 0rem 8rem;
}

#portfolio .projects {
	padding-top: 1rem;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: row wrap;
}
</style>
