<template>
  <div
    v-if="!isHidden"
    class="project-details"
    @click.self.stop="closeDetails"
  >
    <div
      class="content"
      @click.stop
    >
      <img
        class="image-display"
        :src="publicPath + project.image"
      >
      <div class="text-area">
        <h2>{{ project.title }}</h2>
        <ul>
          <li
            v-for="tag in project.tags"
            :key="tag.id"
          >
            {{ tag }}
          </li>
        </ul>
        <p>{{ project.description }}</p>
        <div class="links">
          <div
            v-if="project.demo"
            class="link"
          >
            <a :href="project.demo">
              <div class="image-container">
                <img :src="`${publicPath}icon/link-white.png`">
              </div>
              <h5>VIEW SITE</h5>
            </a>
          </div>
          <div
            v-if="project.source"
            class="link"
          >
            <a :href="project.source">
              <div class="image-container">
                <img :src="`${publicPath}icon/code-white.png`">
              </div>
              <h5>VIEW SOURCE</h5>
            </a>
          </div>
          <div class="close">
            <button
              :style="{ backgroundImage: 'url(' + publicPath + 'icon/close.png)'}"
              @click.self="closeDetails"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
	name: "ProjectDetails",
	props: {
		project: Object
	},
	data() {
		return {
			isHidden: true,
			publicPath: process.env.BASE_URL
		}
	},
	methods: {
		openDetails: function() {
			window.alert(this.project.title);
		},
		closeDetails: function() {
			this.isHidden = true;
		}
	}
};
</script>

<style>
.project-details {
  /* display: none; */
	position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
	background-color: hsla(0, 0%, 23%, 0.6);
	z-index: 101;
}

.project-details .content {
  position: relative;
	width: 33rem;
	top: 4rem;
	margin: 0 auto;
  background-color: white;
  cursor: initial;
}

.project-details .image-display {
  width: 100%;
  height: 18rem;
  border-bottom: 2px solid #474747;
  background-size: cover;
}

.project-details .text-area {
	padding: 2rem 3rem 1rem 1.5rem;
  line-height: 1.3;
}

.project-details h2 {
  padding-bottom: .1rem;
  font-weight: 500;
}

.project-details p {
  padding: .5rem 0 1rem;
  margin-top: .3rem;
  border-top: 2px solid whitesmoke;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.project-details .links {
  display: flex;
  align-items: center;
}

.project-details .close {
  flex-grow: 1;
}

.project-details button {
  float: right;
  height: 25px;
  width: 25px;
  background-size: 25px 25px;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: .15;
  cursor: pointer;
  transition: opacity 200ms ease;
}

.project-details button:hover {
  opacity: .4;
}

.project-details .link {
  padding: .4rem 1rem;
  margin-right: 1rem;
  background-color: #0B42FF;
  display: flex;
  align-items: center;
}

.project-details .link a {
  display: block;
}

.project-details .link .image-container {
  display: inline-block;
  width: 1rem;
  height: auto;
  padding-right: .15rem;
  border: initial;
}

.project-details .link h5 {
  display: inline-block;
  padding-left: .4rem;
  transform: translateY(-9%);
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: white;
}
</style>