<template>
  <div
    class="project"
    @click="popupProject"
  >
    <div class="image-container">
      <img :src="publicPath + project.image">
    </div>
    <div class="description-area">
      <h4>{{ project.title }}</h4>
      <ul>
        <li 
          v-for="tag in project.tags" 
          :key="tag.id"
        >
          {{ tag }}
        </li>
      </ul>
    </div>

    <ProjectDetails :project="project" />
  </div>
</template>

<script>
import ProjectDetails from "./ProjectDetails";

export default {
	name: "Project",
	components: {
		ProjectDetails
	},
	props: {
		project: Object
	},
	data() {
		return {
			publicPath: process.env.BASE_URL
		}
	},
	methods: {
		popupProject: function() {
			this.$children[0].isHidden = false;
		}
	}
};
</script>

<style>
.project {
	width: 19rem;
	margin: 1rem;
	/* border-radius: 5px; */
	/* background-color: #f5f5f5; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
	font-family: "Roboto", sans-serif;
}

.project .image-container {
	width: 100%;
	height: 10rem;
	border-bottom: 1px solid #e2e2e2;
}

.project img {
	width: 100%;
	vertical-align: bottom;
}

.project .description-area {
	padding: 1rem;
}

.project h4 {
	padding-bottom: .1rem;
	margin-bottom: 0.5rem;
	border-bottom: 1px solid #f1f1f1;
	font-size: 20px;
	font-weight: 500;
}

.project ul {
	/* padding-top: 1rem; */
	display: inline;
	list-style: none;
}

.project li {
	display: inline;
	color: #0a0088;
	font-weight: 500;
}

.project li:after {
	content: " \00B7  ";
}

.project li:last-child:after {
	content: "";
}

/* Details */

.project .details {
	display: none;
}

</style>
