<template>
  <div class="skill-lists">
    <h2>MOST PROFICIENT WITH</h2>
    <div class="skill-lists-flex">
      <div class="skill-list">
        <h3>Languages &amp; Frameworks</h3>
        <ul>
          <li>Nodejs</li>
          <li>Java</li>
          <li>Python</li>
          <li>C</li>
          <li>Vuejs</li>
        </ul>
      </div>
      <div class="skill-list">
        <h3>Software</h3>
        <ul>
          <li>Windows &amp; Linux</li>
          <li>Git</li>
          <li>Docker</li>
          <li>GitlabCI</li>
          <li>Postgresql</li>
        </ul>
      </div>
      <div class="skill-list">
        <h3>Techniques &amp; Disciplins</h3>
        <ul>
          <li>Agile</li>
          <li>Security Focused Design</li>
          <li>Unit Testing</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
	name: "CodePrincipals"
}
</script>

<style>
.skill-lists h2 {
	text-align: center;
}

.skill-lists .skill-lists-flex {
	padding: 0 5rem;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.skill-lists .skill-list {
	width: calc(100% / 3);
	padding: 1rem;
	display: inline-block;
}

.skill-list h3 {
	text-align: center;
	padding-top: 0.5rem;
  border-bottom: 1px solid #b1b1b1;
  margin: 0 1.4rem;
	font-weight: 500;
}

.skill-list ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 0.4rem;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 70px;
}

.skill-list li {
	text-align: left;
}

@media only screen and (max-width: 1150px) {
  .skill-lists .skill-lists-flex {
    padding: 0 3rem;
    justify-content: baseline;
  }

  
}

@media only screen and (max-width: 700px) {
  .skill-lists .skill-lists-flex {
    flex-flow: column nowrap;
    align-items: center;
  }

  .skill-lists .skill-list {
    width: 60%;
    padding: .5rem;
  }
}

@media only screen and (max-width: 380px) {
  .skill-lists h2 {
    font-size: 20px;
    padding: 0 .5rem;
  }

  .skill-list h3 {
    margin: 0 .4rem;
  }

  .skill-lists .skill-lists-flex {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .skill-lists .skill-list {
    width: 100%;
  }
}
</style>