/* eslint-disable vue/html-indent */
<template>
  <div id="skills">
    <div class="wrapper">
      <Heading name="SKILLS" />
      <CodePrincipals />
      <SkillList />
    </div>
  </div>
</template>

<script>
import Heading from "./layout/Heading";
import CodePrincipals from "./CodePrincipals";
import SkillList from "./SkillList";

export default {
	name: "Skills",
	components: {
		Heading,
		CodePrincipals,
		SkillList
	}
};
</script>

<style>
#skills {
	color: hsl(216, 4%, 28%);
	background-color: #f5f5f5;
}

#skills .wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 3rem 0 5rem;
}

#skills .heading {
	padding-bottom: 2.5rem;
}

#skills .code {
	padding-bottom: 2rem;
}
</style>
