<template>
  <div class="spotify-toplist">
    <h3>Music I'm currently into </h3>
    <div class="music-list">
      <table>
        <tr>
          <th class="track">
            Song
          </th>
          <th class="artist">
            Artist
          </th>
          <th class="album">
            Album
          </th>
        </tr>
        <tr
          v-for="track in tracks.slice(0, tracksLimit)"
          :key="track.name"
          :class="{ 'active-track' : currTrack.name === track.name }"
          @click="selectTrack(track)"
        >
          <td
            v-if="track.name.length <= 100"
            class="track"
            style="width: 60%"
          >
            {{ track.name }}
          </td>
          <td
            v-else
            class="track"
            :title="track.name"
          > 
            {{ track.name.substring(0, 23) + ".." }}
          </td>
          <td
            v-if="track.artists[0].name.length <= 16"
            class="artist"
          > 
            {{ track.artists[0].name }}
          </td>
          <td
            v-else
            class="artist"
            :title="track.artists[0].name"
          > 
            {{ track.artists[0].name.substring(0, 14) + ".." }}
          </td>
          <td
            v-if="track.album.name.length <= 20"
            class="album"
          > 
            {{ track.album.name }}
          </td>
          <td
            v-else
            class="album"
            :title="track.album.name"
          > 
            {{ track.album.name.substring(0, 18) + ".." }}
          </td>
        </tr>
      </table>
      <div class="player">
        <img :src="currTrack.album.images[0].url">
        <audio
          id="spotify-audio"
          controls
        >
          <source
            :src="currTrack.preview_url"
            type="audio/mpeg"
          >
        </audio>
      </div>
    </div>
    <h5>powered by the spotify API</h5>
  </div>
</template>

<script>
let audio;

export default {
	name: "SpotifyToplist",
	props: {
		tracksLimit: Number
	},
	data() {
		return {
			tracks: [
				{
					album: {
						album_type: "ALBUM",
						artists: [
							{
								external_urls: {
									spotify: "https://open.spotify.com/artist/5INjqkS1o8h1imAzPqGZBb"
								},
								href: "https://api.spotify.com/v1/artists/5INjqkS1o8h1imAzPqGZBb",
								id: "5INjqkS1o8h1imAzPqGZBb",
								name: "Tame Impala",
								type: "artist",
								uri: "spotify:artist:5INjqkS1o8h1imAzPqGZBb"
							}
						],
						external_urls: {
							spotify: "https://open.spotify.com/album/79dL7FLiJFOO0EoehUHQBv"
						},
						href: "https://api.spotify.com/v1/albums/79dL7FLiJFOO0EoehUHQBv",
						id: "79dL7FLiJFOO0EoehUHQBv",
						images: [
							{
								height: 640,
								url: "https://i.scdn.co/image/249248e704f34007898ef0465f3c2b1c521d4347",
								width: 640
							},
							{
								height: 300,
								url: "https://i.scdn.co/image/fb287005a4c80e87ad8d3eee6a01ff4b979ac0fb",
								width: 300
							},
							{
								height: 64,
								url: "https://i.scdn.co/image/2e0f9ea6d3a71fb5583f3abb798f12aa4eac8563",
								width: 64
							}
						],
						name: "Currents",
						release_date: "2015-07-17",
						release_date_precision: "day",
						total_tracks: 13,
						type: "album",
						uri: "spotify:album:79dL7FLiJFOO0EoehUHQBv"
					},
					artists: [
						{
							external_urls: {
								spotify: "https://open.spotify.com/artist/5INjqkS1o8h1imAzPqGZBb"
							},
							href: "https://api.spotify.com/v1/artists/5INjqkS1o8h1imAzPqGZBb",
							id: "5INjqkS1o8h1imAzPqGZBb",
							name: "Tame Impala",
							type: "artist",
							uri: "spotify:artist:5INjqkS1o8h1imAzPqGZBb"
						}
					],
					disc_number: 1,
					duration_ms: 216320,
					explicit: true,
					external_ids: {
						isrc: "AUUM71500303"
					},
					external_urls: {
						spotify: "https://open.spotify.com/track/6K4t31amVTZDgR3sKmwUJJ"
					},
					href: "https://api.spotify.com/v1/tracks/6K4t31amVTZDgR3sKmwUJJ",
					id: "6K4t31amVTZDgR3sKmwUJJ",
					is_local: false,
					name: "The Less I Know The Better",
					popularity: 85,
					preview_url:
						"https://p.scdn.co/mp3-preview/529af81043b7b86ae5f9709f590d52a6f7dd7fb5?cid=774b29d4f13844c495f206cafdad9c86",
					track_number: 7,
					type: "track",
					uri: "spotify:track:6K4t31amVTZDgR3sKmwUJJ"
				},
				{
					album: {
						album_type: "ALBUM",
						artists: [
							{
								external_urls: {
									spotify: "https://open.spotify.com/artist/6EB8VE9f7Ut6NOgviN6gDW"
								},
								href: "https://api.spotify.com/v1/artists/6EB8VE9f7Ut6NOgviN6gDW",
								id: "6EB8VE9f7Ut6NOgviN6gDW",
								name: "Dawid Podsiadło",
								type: "artist",
								uri: "spotify:artist:6EB8VE9f7Ut6NOgviN6gDW"
							}
						],
						external_urls: {
							spotify: "https://open.spotify.com/album/00hXe7ttZI4gjjWYqKAdMX"
						},
						href: "https://api.spotify.com/v1/albums/00hXe7ttZI4gjjWYqKAdMX",
						id: "00hXe7ttZI4gjjWYqKAdMX",
						images: [
							{
								height: 640,
								url: "https://i.scdn.co/image/ab67616d0000b273c4aa14d6f01b64808cf9ae31",
								width: 640
							},
							{
								height: 300,
								url: "https://i.scdn.co/image/ab67616d00001e02c4aa14d6f01b64808cf9ae31",
								width: 300
							},
							{
								height: 64,
								url: "https://i.scdn.co/image/ab67616d00004851c4aa14d6f01b64808cf9ae31",
								width: 64
							}
						],
						name: "Malomiasteczkowy",
						release_date: "2018-10-19",
						release_date_precision: "day",
						total_tracks: 10,
						type: "album",
						uri: "spotify:album:00hXe7ttZI4gjjWYqKAdMX"
					},
					artists: [
						{
							external_urls: {
								spotify: "https://open.spotify.com/artist/6EB8VE9f7Ut6NOgviN6gDW"
							},
							href: "https://api.spotify.com/v1/artists/6EB8VE9f7Ut6NOgviN6gDW",
							id: "6EB8VE9f7Ut6NOgviN6gDW",
							name: "Dawid Podsiadło",
							type: "artist",
							uri: "spotify:artist:6EB8VE9f7Ut6NOgviN6gDW"
						}
					],
					disc_number: 1,
					duration_ms: 224986,
					explicit: false,
					external_ids: {
						isrc: "PLB381800255"
					},
					external_urls: {
						spotify: "https://open.spotify.com/track/3pe05XBTPu2wpWwkVPzuUX"
					},
					href: "https://api.spotify.com/v1/tracks/3pe05XBTPu2wpWwkVPzuUX",
					id: "3pe05XBTPu2wpWwkVPzuUX",
					is_local: false,
					name: "Trofea",
					popularity: 63,
					preview_url:
						"https://p.scdn.co/mp3-preview/7d75496b127f636166c7bb5e51d425bf307800c5?cid=774b29d4f13844c495f206cafdad9c86",
					track_number: 5,
					type: "track",
					uri: "spotify:track:3pe05XBTPu2wpWwkVPzuUX"
				},
				{
					album: {
						album_type: "ALBUM",
						artists: [
							{
								external_urls: {
									spotify: "https://open.spotify.com/artist/3u1ulLq00Y3bfmq9FfjsPu"
								},
								href: "https://api.spotify.com/v1/artists/3u1ulLq00Y3bfmq9FfjsPu",
								id: "3u1ulLq00Y3bfmq9FfjsPu",
								name: "Ween",
								type: "artist",
								uri: "spotify:artist:3u1ulLq00Y3bfmq9FfjsPu"
							}
						],
						external_urls: {
							spotify: "https://open.spotify.com/album/1yfJqxKKXG320vhqLfUEeC"
						},
						href: "https://api.spotify.com/v1/albums/1yfJqxKKXG320vhqLfUEeC",
						id: "1yfJqxKKXG320vhqLfUEeC",
						images: [
							{
								height: 640,
								url: "https://i.scdn.co/image/ab67616d0000b27335010b7368af2e4968d46f22",
								width: 640
							},
							{
								height: 300,
								url: "https://i.scdn.co/image/ab67616d00001e0235010b7368af2e4968d46f22",
								width: 300
							},
							{
								height: 64,
								url: "https://i.scdn.co/image/ab67616d0000485135010b7368af2e4968d46f22",
								width: 64
							}
						],
						name: "The Mollusk",
						release_date: "1997-04-18",
						release_date_precision: "day",
						total_tracks: 14,
						type: "album",
						uri: "spotify:album:1yfJqxKKXG320vhqLfUEeC"
					},
					artists: [
						{
							external_urls: {
								spotify: "https://open.spotify.com/artist/3u1ulLq00Y3bfmq9FfjsPu"
							},
							href: "https://api.spotify.com/v1/artists/3u1ulLq00Y3bfmq9FfjsPu",
							id: "3u1ulLq00Y3bfmq9FfjsPu",
							name: "Ween",
							type: "artist",
							uri: "spotify:artist:3u1ulLq00Y3bfmq9FfjsPu"
						}
					],
					disc_number: 1,
					duration_ms: 126946,
					explicit: false,
					external_ids: {
						isrc: "USEE19701313"
					},
					external_urls: {
						spotify: "https://open.spotify.com/track/6M14BiCN00nOsba4JaYsHW"
					},
					href: "https://api.spotify.com/v1/tracks/6M14BiCN00nOsba4JaYsHW",
					id: "6M14BiCN00nOsba4JaYsHW",
					is_local: false,
					name: "Ocean Man",
					popularity: 65,
					preview_url:
						"https://p.scdn.co/mp3-preview/a34c1a880f5c688fd9282beafec42ab13ab9a07b?cid=774b29d4f13844c495f206cafdad9c86",
					track_number: 13,
					type: "track",
					uri: "spotify:track:6M14BiCN00nOsba4JaYsHW"
				},
				{
					album: {
						album_type: "SINGLE",
						artists: [
							{
								external_urls: {
									spotify: "https://open.spotify.com/artist/5sM4cZ9MHihs0tbmkiE9n8"
								},
								href: "https://api.spotify.com/v1/artists/5sM4cZ9MHihs0tbmkiE9n8",
								id: "5sM4cZ9MHihs0tbmkiE9n8",
								name: "Jamie Berry",
								type: "artist",
								uri: "spotify:artist:5sM4cZ9MHihs0tbmkiE9n8"
							},
							{
								external_urls: {
									spotify: "https://open.spotify.com/artist/3jT2Zl57kYDK5qI8fkl1L9"
								},
								href: "https://api.spotify.com/v1/artists/3jT2Zl57kYDK5qI8fkl1L9",
								id: "3jT2Zl57kYDK5qI8fkl1L9",
								name: "Octavia Rose",
								type: "artist",
								uri: "spotify:artist:3jT2Zl57kYDK5qI8fkl1L9"
							}
						],
						external_urls: {
							spotify: "https://open.spotify.com/album/7rKr9KQYB6yL64A5WRUXhH"
						},
						href: "https://api.spotify.com/v1/albums/7rKr9KQYB6yL64A5WRUXhH",
						id: "7rKr9KQYB6yL64A5WRUXhH",
						images: [
							{
								height: 640,
								url: "https://i.scdn.co/image/ab67616d0000b27326b9951d2ae34a825e54d033",
								width: 640
							},
							{
								height: 300,
								url: "https://i.scdn.co/image/ab67616d00001e0226b9951d2ae34a825e54d033",
								width: 300
							},
							{
								height: 64,
								url: "https://i.scdn.co/image/ab67616d0000485126b9951d2ae34a825e54d033",
								width: 64
							}
						],
						name: "Lost In The Rhythm",
						release_date: "2016-05-17",
						release_date_precision: "day",
						total_tracks: 1,
						type: "album",
						uri: "spotify:album:7rKr9KQYB6yL64A5WRUXhH"
					},
					artists: [
						{
							external_urls: {
								spotify: "https://open.spotify.com/artist/5sM4cZ9MHihs0tbmkiE9n8"
							},
							href: "https://api.spotify.com/v1/artists/5sM4cZ9MHihs0tbmkiE9n8",
							id: "5sM4cZ9MHihs0tbmkiE9n8",
							name: "Jamie Berry",
							type: "artist",
							uri: "spotify:artist:5sM4cZ9MHihs0tbmkiE9n8"
						},
						{
							external_urls: {
								spotify: "https://open.spotify.com/artist/3jT2Zl57kYDK5qI8fkl1L9"
							},
							href: "https://api.spotify.com/v1/artists/3jT2Zl57kYDK5qI8fkl1L9",
							id: "3jT2Zl57kYDK5qI8fkl1L9",
							name: "Octavia Rose",
							type: "artist",
							uri: "spotify:artist:3jT2Zl57kYDK5qI8fkl1L9"
						}
					],
					disc_number: 1,
					duration_ms: 186544,
					explicit: false,
					external_ids: {
						isrc: "GBKQU1651288"
					},
					external_urls: {
						spotify: "https://open.spotify.com/track/35nsl8YiBIYw1YdNmkmhnk"
					},
					href: "https://api.spotify.com/v1/tracks/35nsl8YiBIYw1YdNmkmhnk",
					id: "35nsl8YiBIYw1YdNmkmhnk",
					is_local: false,
					name: "Lost In The Rhythm - Original Mix",
					popularity: 55,
					preview_url:
						"https://p.scdn.co/mp3-preview/8a91f616375c19e7c0de4a3cc053addc65f74156?cid=774b29d4f13844c495f206cafdad9c86",
					track_number: 1,
					type: "track",
					uri: "spotify:track:35nsl8YiBIYw1YdNmkmhnk"
				},
				{
					album: {
						album_type: "ALBUM",
						artists: [
							{
								external_urls: {
									spotify: "https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"
								},
								href: "https://api.spotify.com/v1/artists/3AA28KZvwAUcZuOKwyblJQ",
								id: "3AA28KZvwAUcZuOKwyblJQ",
								name: "Gorillaz",
								type: "artist",
								uri: "spotify:artist:3AA28KZvwAUcZuOKwyblJQ"
							}
						],
						external_urls: {
							spotify: "https://open.spotify.com/album/0NvirtaDCaZU5PAW1O5FDE"
						},
						href: "https://api.spotify.com/v1/albums/0NvirtaDCaZU5PAW1O5FDE",
						id: "0NvirtaDCaZU5PAW1O5FDE",
						images: [
							{
								height: 640,
								url: "https://i.scdn.co/image/ab67616d0000b273a5952c0e2e649f588603b743",
								width: 640
							},
							{
								height: 300,
								url: "https://i.scdn.co/image/ab67616d00001e02a5952c0e2e649f588603b743",
								width: 300
							},
							{
								height: 64,
								url: "https://i.scdn.co/image/ab67616d00004851a5952c0e2e649f588603b743",
								width: 64
							}
						],
						name: "Humanz (Deluxe)",
						release_date: "2017-04-28",
						release_date_precision: "day",
						total_tracks: 26,
						type: "album",
						uri: "spotify:album:0NvirtaDCaZU5PAW1O5FDE"
					},
					artists: [
						{
							external_urls: {
								spotify: "https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"
							},
							href: "https://api.spotify.com/v1/artists/3AA28KZvwAUcZuOKwyblJQ",
							id: "3AA28KZvwAUcZuOKwyblJQ",
							name: "Gorillaz",
							type: "artist",
							uri: "spotify:artist:3AA28KZvwAUcZuOKwyblJQ"
						},
						{
							external_urls: {
								spotify: "https://open.spotify.com/artist/62DmErcU7dqZbJaDqwsqzR"
							},
							href: "https://api.spotify.com/v1/artists/62DmErcU7dqZbJaDqwsqzR",
							id: "62DmErcU7dqZbJaDqwsqzR",
							name: "Popcaan",
							type: "artist",
							uri: "spotify:artist:62DmErcU7dqZbJaDqwsqzR"
						}
					],
					disc_number: 1,
					duration_ms: 181906,
					explicit: false,
					external_ids: {
						isrc: "GBAYE1700163"
					},
					external_urls: {
						spotify: "https://open.spotify.com/track/7l9CE3wmEGOUYw1j4ETjnL"
					},
					href: "https://api.spotify.com/v1/tracks/7l9CE3wmEGOUYw1j4ETjnL",
					id: "7l9CE3wmEGOUYw1j4ETjnL",
					is_local: false,
					name: "Saturnz Barz (feat. Popcaan)",
					popularity: 66,
					preview_url:
						"https://p.scdn.co/mp3-preview/458af51828c1550e4928d6bce492e35079e50fd8?cid=774b29d4f13844c495f206cafdad9c86",
					track_number: 4,
					type: "track",
					uri: "spotify:track:7l9CE3wmEGOUYw1j4ETjnL"
				},
				{
					album: {
						album_type: "ALBUM",
						artists: [
							{
								external_urls: {
									spotify: "https://open.spotify.com/artist/7gP3bB2nilZXLfPHJhMdvc"
								},
								href: "https://api.spotify.com/v1/artists/7gP3bB2nilZXLfPHJhMdvc",
								id: "7gP3bB2nilZXLfPHJhMdvc",
								name: "Foster The People",
								type: "artist",
								uri: "spotify:artist:7gP3bB2nilZXLfPHJhMdvc"
							}
						],
						external_urls: {
							spotify: "https://open.spotify.com/album/7Kmmw7Z5D2UD5MVwdm10sT"
						},
						href: "https://api.spotify.com/v1/albums/7Kmmw7Z5D2UD5MVwdm10sT",
						id: "7Kmmw7Z5D2UD5MVwdm10sT",
						images: [
							{
								height: 640,
								url: "https://i.scdn.co/image/ab67616d0000b273c03f8ef4160b2a3b72dd407d",
								width: 640
							},
							{
								height: 300,
								url: "https://i.scdn.co/image/ab67616d00001e02c03f8ef4160b2a3b72dd407d",
								width: 300
							},
							{
								height: 64,
								url: "https://i.scdn.co/image/ab67616d00004851c03f8ef4160b2a3b72dd407d",
								width: 64
							}
						],
						name: "Torches",
						release_date: "2011-05-23",
						release_date_precision: "day",
						total_tracks: 10,
						type: "album",
						uri: "spotify:album:7Kmmw7Z5D2UD5MVwdm10sT"
					},
					artists: [
						{
							external_urls: {
								spotify: "https://open.spotify.com/artist/7gP3bB2nilZXLfPHJhMdvc"
							},
							href: "https://api.spotify.com/v1/artists/7gP3bB2nilZXLfPHJhMdvc",
							id: "7gP3bB2nilZXLfPHJhMdvc",
							name: "Foster The People",
							type: "artist",
							uri: "spotify:artist:7gP3bB2nilZXLfPHJhMdvc"
						}
					],
					disc_number: 1,
					duration_ms: 239600,
					explicit: false,
					external_ids: {
						isrc: "USSM11002931"
					},
					external_urls: {
						spotify: "https://open.spotify.com/track/7w87IxuO7BDcJ3YUqCyMTT"
					},
					href: "https://api.spotify.com/v1/tracks/7w87IxuO7BDcJ3YUqCyMTT",
					id: "7w87IxuO7BDcJ3YUqCyMTT",
					is_local: false,
					name: "Pumped Up Kicks",
					popularity: 83,
					preview_url:
						"https://p.scdn.co/mp3-preview/db83e69f4ef8a49f5b77e367f7031cc3bcc41b1a?cid=774b29d4f13844c495f206cafdad9c86",
					track_number: 2,
					type: "track",
					uri: "spotify:track:7w87IxuO7BDcJ3YUqCyMTT"
				},
				{
					album: {
						album_type: "ALBUM",
						artists: [
							{
								external_urls: {
									spotify: "https://open.spotify.com/artist/4CWpoyuE7e9NvBkUSTmJfq"
								},
								href: "https://api.spotify.com/v1/artists/4CWpoyuE7e9NvBkUSTmJfq",
								id: "4CWpoyuE7e9NvBkUSTmJfq",
								name: "RŮDE",
								type: "artist",
								uri: "spotify:artist:4CWpoyuE7e9NvBkUSTmJfq"
							}
						],
						external_urls: {
							spotify: "https://open.spotify.com/album/6STwjBCu3CTEViSxJChKlV"
						},
						href: "https://api.spotify.com/v1/albums/6STwjBCu3CTEViSxJChKlV",
						id: "6STwjBCu3CTEViSxJChKlV",
						images: [
							{
								height: 640,
								url: "https://i.scdn.co/image/ab67616d0000b273097f3d06dd8726a91f526e21",
								width: 640
							},
							{
								height: 300,
								url: "https://i.scdn.co/image/ab67616d00001e02097f3d06dd8726a91f526e21",
								width: 300
							},
							{
								height: 64,
								url: "https://i.scdn.co/image/ab67616d00004851097f3d06dd8726a91f526e21",
								width: 64
							}
						],
						name: "Eternal Youth",
						release_date: "2017-08-07",
						release_date_precision: "day",
						total_tracks: 16,
						type: "album",
						uri: "spotify:album:6STwjBCu3CTEViSxJChKlV"
					},
					artists: [
						{
							external_urls: {
								spotify: "https://open.spotify.com/artist/4CWpoyuE7e9NvBkUSTmJfq"
							},
							href: "https://api.spotify.com/v1/artists/4CWpoyuE7e9NvBkUSTmJfq",
							id: "4CWpoyuE7e9NvBkUSTmJfq",
							name: "RŮDE",
							type: "artist",
							uri: "spotify:artist:4CWpoyuE7e9NvBkUSTmJfq"
						}
					],
					disc_number: 1,
					duration_ms: 205766,
					explicit: false,
					external_ids: {
						isrc: "QZ8LD1727702"
					},
					external_urls: {
						spotify: "https://open.spotify.com/track/0ytvsZOerGzUWfHXVT2Sgy"
					},
					href: "https://api.spotify.com/v1/tracks/0ytvsZOerGzUWfHXVT2Sgy",
					id: "0ytvsZOerGzUWfHXVT2Sgy",
					is_local: false,
					name: "Eternal Youth",
					popularity: 76,
					preview_url:
						"https://p.scdn.co/mp3-preview/75fdcd7cdd55719a7e4370189dc3e8c06e08bef8?cid=774b29d4f13844c495f206cafdad9c86",
					track_number: 1,
					type: "track",
					uri: "spotify:track:0ytvsZOerGzUWfHXVT2Sgy"
				},
				{
					album: {
						album_type: "SINGLE",
						artists: [
							{
								external_urls: {
									spotify: "https://open.spotify.com/artist/5FN9kuAUamAd4IadVnH4jH"
								},
								href: "https://api.spotify.com/v1/artists/5FN9kuAUamAd4IadVnH4jH",
								id: "5FN9kuAUamAd4IadVnH4jH",
								name: "Samsa",
								type: "artist",
								uri: "spotify:artist:5FN9kuAUamAd4IadVnH4jH"
							}
						],
						external_urls: {
							spotify: "https://open.spotify.com/album/0vVs2FMJkudcZnKMLRJh8U"
						},
						href: "https://api.spotify.com/v1/albums/0vVs2FMJkudcZnKMLRJh8U",
						id: "0vVs2FMJkudcZnKMLRJh8U",
						images: [
							{
								height: 640,
								url: "https://i.scdn.co/image/ab67616d0000b273bb9c3aaa56b41c53c3822b4b",
								width: 640
							},
							{
								height: 300,
								url: "https://i.scdn.co/image/ab67616d00001e02bb9c3aaa56b41c53c3822b4b",
								width: 300
							},
							{
								height: 64,
								url: "https://i.scdn.co/image/ab67616d00004851bb9c3aaa56b41c53c3822b4b",
								width: 64
							}
						],
						name: "Solo",
						release_date: "2017-08-18",
						release_date_precision: "day",
						total_tracks: 1,
						type: "album",
						uri: "spotify:album:0vVs2FMJkudcZnKMLRJh8U"
					},
					artists: [
						{
							external_urls: {
								spotify: "https://open.spotify.com/artist/5FN9kuAUamAd4IadVnH4jH"
							},
							href: "https://api.spotify.com/v1/artists/5FN9kuAUamAd4IadVnH4jH",
							id: "5FN9kuAUamAd4IadVnH4jH",
							name: "Samsa",
							type: "artist",
							uri: "spotify:artist:5FN9kuAUamAd4IadVnH4jH"
						}
					],
					disc_number: 1,
					duration_ms: 208143,
					explicit: true,
					external_ids: {
						isrc: "QZ8LD1763651"
					},
					external_urls: {
						spotify: "https://open.spotify.com/track/4XOlo2K3XX1ICy1KfEiWyO"
					},
					href: "https://api.spotify.com/v1/tracks/4XOlo2K3XX1ICy1KfEiWyO",
					id: "4XOlo2K3XX1ICy1KfEiWyO",
					is_local: false,
					name: "Solo",
					popularity: 60,
					preview_url:
						"https://p.scdn.co/mp3-preview/5ff7ced1236d198e1b696a89830fa83a4a91f0b7?cid=774b29d4f13844c495f206cafdad9c86",
					track_number: 1,
					type: "track",
					uri: "spotify:track:4XOlo2K3XX1ICy1KfEiWyO"
				},
				{
					album: {
						album_type: "ALBUM",
						artists: [
							{
								external_urls: {
									spotify: "https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"
								},
								href: "https://api.spotify.com/v1/artists/3AA28KZvwAUcZuOKwyblJQ",
								id: "3AA28KZvwAUcZuOKwyblJQ",
								name: "Gorillaz",
								type: "artist",
								uri: "spotify:artist:3AA28KZvwAUcZuOKwyblJQ"
							}
						],
						external_urls: {
							spotify: "https://open.spotify.com/album/0NvirtaDCaZU5PAW1O5FDE"
						},
						href: "https://api.spotify.com/v1/albums/0NvirtaDCaZU5PAW1O5FDE",
						id: "0NvirtaDCaZU5PAW1O5FDE",
						images: [
							{
								height: 640,
								url: "https://i.scdn.co/image/ab67616d0000b273a5952c0e2e649f588603b743",
								width: 640
							},
							{
								height: 300,
								url: "https://i.scdn.co/image/ab67616d00001e02a5952c0e2e649f588603b743",
								width: 300
							},
							{
								height: 64,
								url: "https://i.scdn.co/image/ab67616d00001e02a5952c0e2e649f588603b743",
								width: 64
							}
						],
						name: "Humanz (Deluxe)",
						release_date: "2017-04-28",
						release_date_precision: "day",
						total_tracks: 26,
						type: "album",
						uri: "spotify:album:0NvirtaDCaZU5PAW1O5FDE"
					},
					artists: [
						{
							external_urls: {
								spotify: "https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"
							},
							href: "https://api.spotify.com/v1/artists/3AA28KZvwAUcZuOKwyblJQ",
							id: "3AA28KZvwAUcZuOKwyblJQ",
							name: "Gorillaz",
							type: "artist",
							uri: "spotify:artist:3AA28KZvwAUcZuOKwyblJQ"
						},
						{
							external_urls: {
								spotify: "https://open.spotify.com/artist/0v2oB2xMS64U3lcU5DFuCY"
							},
							href: "https://api.spotify.com/v1/artists/0v2oB2xMS64U3lcU5DFuCY",
							id: "0v2oB2xMS64U3lcU5DFuCY",
							name: "Peven Everett",
							type: "artist",
							uri: "spotify:artist:0v2oB2xMS64U3lcU5DFuCY"
						}
					],
					disc_number: 1,
					duration_ms: 272666,
					explicit: false,
					external_ids: {
						isrc: "GBAYE1700162"
					},
					external_urls: {
						spotify: "https://open.spotify.com/track/6XGddj522FQRHXEhBtjiJu"
					},
					href: "https://api.spotify.com/v1/tracks/6XGddj522FQRHXEhBtjiJu",
					id: "6XGddj522FQRHXEhBtjiJu",
					is_local: false,
					name: "Strobelite (feat. Peven Everett)",
					popularity: 59,
					preview_url:
						"https://p.scdn.co/mp3-preview/bb0a718645cb80a5601ee779caf533d06158fba4?cid=774b29d4f13844c495f206cafdad9c86",
					track_number: 3,
					type: "track",
					uri: "spotify:track:6XGddj522FQRHXEhBtjiJu"
				}
			],
			total: 50,
			limit: 9,
			offset: 0,
			href: "https://api.spotify.com/v1/me/top/tracks?limit=9&offset=0",
			previous: null,
			next: "https://api.spotify.com/v1/me/top/tracks?limit=9&offset=9",
			currTrack: {
				name: "The Less I Know The Better", 
				preview_url: "https://p.scdn.co/mp3-preview/529af81043b7b86ae5f9709f590d52a6f7dd7fb5?cid=774b29d4f13844c495f206cafdad9c86"
			}
		};
	},
	beforeMount: function() {
		this.currTrack = this.tracks[Math.floor(Math.random() * this.tracksLimit)]
	},
	mounted: function() {
		audio = document.getElementById("spotify-audio");
		audio.volume = 0.3;
	},
	methods: {
		selectTrack: function(track) {
			let source = document.querySelector("#spotify-audio source");
			source.src = track.preview_url;

			audio.load();
			this.currTrack = track;
		}
	}
}
</script>

<style>
.spotify-toplist {
	padding-left: 5rem;
}

.spotify-toplist > h3 {
	padding-bottom: .2rem;
	color: #222222;;
}

.spotify-toplist > h5 {
	padding-top: .5rem;
	font-weight: 500;
	color: #a7a7a7;
}

.spotify-toplist .music-list {
	display: flex;
	align-items: flex-end;
}

.spotify-toplist table {
	display: inline-table;
	width: 70%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0 1px;
}

.spotify-toplist tr {
	border-bottom: 1px solid #d4d4d4;
	transition: background-color 400ms ease;
}

.spotify-toplist tr:last-child {
	border-bottom: none;
}

.spotify-toplist th {
	padding: .3rem 0;
	text-align: left;
	font-weight: 400;
}

.spotify-toplist td {
	padding: .5rem 0;
	overflow: hidden;
	white-space: nowrap;
	font-size: 14px;
	font-weight: 300;
}

.spotify-toplist tr:hover {
	background-color: #f2f2f2;
}

.spotify-toplist tr:first-child:hover {
	background-color: inherit;
}

.spotify-toplist tr:nth-child(1) {
	width: 50%;
}

/* .spotify-toplist table .artist {
	width: 30%;
}

.spotify-toplist table .album {
	width: 30%;
} */


.spotify-toplist tr > * {
	padding-left: .5rem;
	padding-right: .5rem;
}

.spotify-toplist .active-track {
	background-color: #e2e2e2;
}

.spotify-toplist .active-track:hover {
	background-color: #e2e2e2;
}

.spotify-toplist .player {
	width: 30%;
	display: inline-block;
}

.player img {
	display: block;
	width: 60%;
	margin: 0 auto 1rem;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.player audio {
	display: block;
	width: 95%;
	margin: 0 auto;
	margin-top: .3rem;
}

@media only screen and (max-width: 1000px) {
	.spotify-toplist {
		padding: 0 2rem;
		margin-top: 0;
	}

	.spotify-toplist h3 {
		text-align: center;
	}

	.spotify-toplist .music-list {
		flex-flow: column nowrap;
		align-items: center;
	}

	.music-list table, .music-list .player {
		width: 100%;
	}

	.player img {
		display: none;
	}

	.player audio {
		width: 100%;
	}
}

@media only screen and (max-width: 550px) {
	.spotify-toplist {
		padding: 0 .5rem;
		margin-top: 0;
	}
	
	.music-list table .album {
		display: none;
	}
}

</style>