<template>
  <div id="app">
    <Cover />
    <Navbar />
    <About />
    <Skills />
    <Portfolio />
    <Contact />
  </div>
</template>

<script>
import Navbar from "./components/layout/Navbar.vue";
import Cover from "./components/Cover.vue";
import About from "./components/About.vue";
import Skills from "./components/Skills.vue";
import Portfolio from "./components/Portfolio.vue";
import Contact from "./components/Contact.vue";

export default {
	name: "Home",
	components: {
		Navbar,
		Cover,
		About,
		Skills,
		Portfolio,
		Contact
	},
	data() {
		return {
			data: {}
		};
	},
	beforeMount() {
		//open and load file
	}
};
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,600|Press+Start+2P|Raleway:200,400,700|Roboto:400,500&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
}

.center {
	text-align: center
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
	width: 100%;
	height: auto;
}

.home-img {
	margin-left: 40%;
	margin-top: 80px;
	margin-bottom: 500px;
}
</style>
